<section class="section">
	<div class="row">


		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h6 class="card-subtitle">
						Para usar agregue la clase <mark><code>form-group</code></mark> al div padre y adicionar la clase
						<mark><code>custom-form-control</code></mark> al input
					</h6>
					<form>
						<div class="form-group">
							<input type="text" class="form-control custom-form-control" placeholder="Lorem Ipsun Dolor">
						</div>
					</form>
				</div>
			</div>
		</div>


		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h6 class="card-subtitle">
						Para usar agregue la clase <mark><code>form-group</code></mark> al div padre y adicionar la clase
						<mark><code>custom-form-control</code></mark> al input
					</h6>
					<div class="form-group">
						<input type="text" class="form-control custom-form-control" value="Read only / Disabled" disabled>
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h6 class="card-subtitle">
						Para usar agregue la clase <mark><code>form-group</code></mark> al div padre y adicionar la clase
						<mark><code>custom-form-control</code></mark> al input
					</h6>
					<div class="form-group">
						<label for="inputNanme4" class="form-label custom-label">Your Name</label>
						<input type="text" class="form-control custom-form-control" id="inputNanme4">
					</div>
				</div>
			</div>
		</div>

		<div class="col-md-6">
			<div class="card">
				<div class="card-body">
					<h6 class="card-subtitle">
						Para usar agregue la clase <mark><code>form-group</code></mark> al div padre y adicionar la clase
						<mark><code>custom-form-control</code></mark> al input
					</h6>
					<div class="row form-group">
						<label for="inputEmail3" class="col-sm-4 col-form-label custom-label">Lorem Ipsun</label>
						<div class="col-sm-8">
							<input type="text" class="form-control custom-form-control" id="inputText">
						</div>
					</div>
				</div>
			</div>
		</div>












		<div class="col-lg-6">

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">General Form Elements</h5>

					<!-- General Form Elements -->
					<form>
						<div class="row form-group mb-2">
							<label for="inputText" class="col-sm-3 col-form-label custom-label">Text</label>
							<div class="col-sm-9">
								<input type="text" class="form-control custom-form-control">
							</div>
						</div>
						<div class="row form-group mb-2">
							<label for="inputEmail" class="col-sm-3 col-form-label custom-label">Email</label>
							<div class="col-sm-9">
								<input type="email" class="form-control custom-form-control">
							</div>
						</div>
						<div class="row form-group mb-2">
							<label for="inputPassword" class="col-sm-3 col-form-label custom-label">Password</label>
							<div class="col-sm-9">
								<input type="password" class="form-control custom-form-control">
							</div>
						</div>
						<div class="row form-group mb-2">
							<label for="inputNumber" class="col-sm-3 col-form-label custom-label">Number</label>
							<div class="col-sm-9">
								<input type="number" class="form-control custom-form-control">
							</div>
						</div>
						<div class="row form-group mb-2">
							<label for="inputNumber" class="col-sm-3 col-form-label custom-label">File Upload</label>
							<div class="col-sm-9">
								<input class="form-control" type="file" id="formFile">
							</div>
						</div>
						<div class="row form-group mb-2">
							<label for="inputDate" class="col-sm-3 col-form-label custom-label">Date</label>
							<div class="col-sm-9">
								<input type="date" class="form-control custom-form-control">
							</div>
						</div>
						<div class="row form-group mb-2">
							<label for="inputTime" class="col-sm-3 col-form-label custom-label">Time</label>
							<div class="col-sm-9">
								<input type="time" class="form-control custom-form-control">
							</div>
						</div>

						<div class="row form-group mb-2">
							<label for="inputColor" class="col-sm-3 col-form-label custom-label">Color Picker</label>
							<div class="col-sm-9">
								<input type="color" class="form-control form-control-color" id="exampleColorInput" value="#4154f1"
									title="Choose your color">
							</div>
						</div>
						<div class="row form-group mb-2">
							<label for="inputPassword" class="col-sm-3 col-form-label custom-label">Textarea</label>
							<div class="col-sm-9">
								<textarea class="form-control custom-form-control" style="height: 100px"></textarea>
							</div>
						</div>
						<fieldset class="row form-group mb-2">
							<legend class="col-form-label col-sm-3 pt-0 custom-label">Radios</legend>
							<div class="col-sm-9">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
										checked>
									<label class="form-check-label" for="gridRadios1">
										First radio
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
									<label class="form-check-label" for="gridRadios2">
										Second radio
									</label>
								</div>
								<div class="form-check disabled">
									<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios" value="option"
										disabled>
									<label class="form-check-label" for="gridRadios3">
										Third disabled radio
									</label>
								</div>
							</div>
						</fieldset>
						<div class="row form-group mb-2">
							<legend class="col-form-label custom-label col-sm-2 pt-0">Checkboxes</legend>
							<div class="col-sm-10">

								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridCheck1">
									<label class="form-check-label" for="gridCheck1">
										Example checkbox
									</label>
								</div>

								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridCheck2" checked>
									<label class="form-check-label" for="gridCheck2">
										Example checkbox 2
									</label>
								</div>

							</div>
						</div>

						<div class="row form-group mb-2">
							<label class="col-sm-3 col-form-label custom-label">Disabled</label>
							<div class="col-sm-9">
								<input type="text" class="form-control custom-form-control" value="Read only / Disabled" disabled>
							</div>
						</div>

						<div class="row form-group mb-2">
							<label class="col-sm-3 col-form-label custom-label">Select</label>
							<div class="col-sm-9">
								<select class="form-select custom-form-select" aria-label="Default select example">
									<option selected>Open this select menu</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
						</div>

						<div class="row form-group mb-2">
							<label class="col-sm-3 col-form-label custom-label">Multi Select</label>
							<div class="col-sm-9">
								<select class="form-select custom-form-select" multiple aria-label="multiple select example">
									<option selected>Open this select menu</option>
									<option value="1">One</option>
									<option value="2">Two</option>
									<option value="3">Three</option>
								</select>
							</div>
						</div>

						<div class="row form-group mb-2">
							<label class="col-sm-4 col-form-label custom-label">Submit Button</label>
							<div class="col-sm-8">
								<button type="submit" class="btn btn-primary">Submit Form</button>
							</div>
						</div>

					</form><!-- End General Form Elements -->

				</div>
			</div>

		</div>

		<div class="col-lg-6">

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Advanced Form Elements</h5>

					<!-- Advanced Form Elements -->
					<form>
						<div class="row mb-5">
							<label class="col-sm-2 col-form-label">Switches</label>
							<div class="col-sm-10">
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
									<label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
								</div>
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked>
									<label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
								</div>
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" id="flexSwitchCheckDisabled" disabled>
									<label class="form-check-label" for="flexSwitchCheckDisabled">Disabled switch checkbox input</label>
								</div>
								<div class="form-check form-switch">
									<input class="form-check-input" type="checkbox" id="flexSwitchCheckCheckedDisabled" checked disabled>
									<label class="form-check-label" for="flexSwitchCheckCheckedDisabled">Disabled checked switch checkbox
										input</label>
								</div>
							</div>
						</div>

						<div class="row mb-5">
							<label class="col-sm-2 col-form-label">Ranges</label>
							<div class="col-sm-10">
								<div>
									<label for="customRange1" class="form-label">Example range</label>
									<input type="range" class="form-range" id="customRange1">
								</div>
								<div>
									<label for="disabledRange" class="form-label">Disabled range</label>
									<input type="range" class="form-range" id="disabledRange" disabled>
								</div>
								<div>
									<label for="customRange2" class="form-label">Min and max with steps</label>
									<input type="range" class="form-range" min="0" max="5" step="0.5" id="customRange2">
								</div>
							</div>
						</div>

						<div class="row mb-3">
							<label class="col-sm-2 col-form-label">Floating labels</label>
							<div class="col-sm-10">
								<div class="form-floating mb-3">
									<input type="email" class="form-control custom-form-control" id="floatingInput"
										placeholder="name@example.com">
									<label for="floatingInput">Email address</label>
								</div>
								<div class="form-floating mb-3">
									<input type="password" class="form-control custom-form-control" id="floatingPassword"
										placeholder="Password">
									<label for="floatingPassword">Password</label>
								</div>
								<div class="form-floating mb-3">
									<textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea"
										style="height: 100px;"></textarea>
									<label for="floatingTextarea">Comments</label>
								</div>
								<div class="form-floating mb-3">
									<select class="form-select" id="floatingSelect" aria-label="Floating label select example">
										<option selected>Open this select menu</option>
										<option value="1">One</option>
										<option value="2">Two</option>
										<option value="3">Three</option>
									</select>
									<label for="floatingSelect">Works with selects</label>
								</div>
							</div>
						</div>

						<div class="row mb-5">
							<label class="col-sm-2 col-form-label">Input groups</label>
							<div class="col-sm-10">
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon1">@</span>
									<input type="text" class="form-control custom-form-control" placeholder="Username"
										aria-label="Username" aria-describedby="basic-addon1">
								</div>

								<div class="input-group mb-3">
									<input type="text" class="form-control custom-form-control" placeholder="Recipient's username"
										aria-label="Recipient's username" aria-describedby="basic-addon2">
									<span class="input-group-text" id="basic-addon2">@example.com</span>
								</div>

								<label for="basic-url" class="form-label">Your vanity URL</label>
								<div class="input-group mb-3">
									<span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
									<input type="text" class="form-control custom-form-control" id="basic-url"
										aria-describedby="basic-addon3">
								</div>

								<div class="input-group mb-3">
									<span class="input-group-text">$</span>
									<input type="text" class="form-control custom-form-control"
										aria-label="Amount (to the nearest dollar)">
									<span class="input-group-text">.00</span>
								</div>

								<div class="input-group mb-3">
									<input type="text" class="form-control custom-form-control" placeholder="Username"
										aria-label="Username">
									<span class="input-group-text">@</span>
									<input type="text" class="form-control custom-form-control" placeholder="Server" aria-label="Server">
								</div>

								<div class="input-group">
									<span class="input-group-text">With textarea</span>
									<textarea class="form-control" aria-label="With textarea"></textarea>
								</div>
							</div>
						</div>

					</form><!-- End General Form Elements -->

				</div>
			</div>

		</div>

	</div>
</section>

<section class="section">
	<div class="row">
		<div class="col-lg-6">

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Horizontal Form</h5>

					<!-- Horizontal Form -->
					<form>
						<div class="row mb-3">
							<label for="inputEmail3" class="col-sm-2 col-form-label">Your Name</label>
							<div class="col-sm-10">
								<input type="text" class="form-control custom-form-control" id="inputText">
							</div>
						</div>
						<div class="row mb-3">
							<label for="inputEmail3" class="col-sm-2 col-form-label">Email</label>
							<div class="col-sm-10">
								<input type="email" class="form-control custom-form-control" id="inputEmail">
							</div>
						</div>
						<div class="row mb-3">
							<label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
							<div class="col-sm-10">
								<input type="password" class="form-control custom-form-control" id="inputPassword">
							</div>
						</div>
						<fieldset class="row mb-3">
							<legend class="col-form-label col-sm-2 pt-0">Radios</legend>
							<div class="col-sm-10">
								<div class="form-check">
									<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios1" value="option1"
										checked>
									<label class="form-check-label" for="gridRadios1">
										First radio
									</label>
								</div>
								<div class="form-check">
									<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios2" value="option2">
									<label class="form-check-label" for="gridRadios2">
										Second radio
									</label>
								</div>
								<div class="form-check disabled">
									<input class="form-check-input" type="radio" name="gridRadios" id="gridRadios3" value="option3"
										disabled>
									<label class="form-check-label" for="gridRadios3">
										Third disabled radio
									</label>
								</div>
							</div>
						</fieldset>
						<div class="row mb-3">
							<div class="col-sm-10 offset-sm-2">
								<div class="form-check">
									<input class="form-check-input" type="checkbox" id="gridCheck1">
									<label class="form-check-label" for="gridCheck1">
										Example checkbox
									</label>
								</div>
							</div>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary">Submit</button>
							<button type="reset" class="btn btn-secondary">Reset</button>
						</div>
					</form><!-- End Horizontal Form -->

				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Multi Columns Form</h5>

					<!-- Multi Columns Form -->
					<form class="row g-3">
						<div class="col-md-12">
							<label for="inputName5" class="form-label">Your Name</label>
							<input type="text" class="form-control custom-form-control" id="inputName5">
						</div>
						<div class="col-md-6">
							<label for="inputEmail5" class="form-label">Email</label>
							<input type="email" class="form-control custom-form-control" id="inputEmail5">
						</div>
						<div class="col-md-6">
							<label for="inputPassword5" class="form-label">Password</label>
							<input type="password" class="form-control custom-form-control" id="inputPassword5">
						</div>
						<div class="col-12">
							<label for="inputAddress5" class="form-label">Address</label>
							<input type="text" class="form-control custom-form-control" id="inputAddres5s" placeholder="1234 Main St">
						</div>
						<div class="col-12">
							<label for="inputAddress2" class="form-label">Address 2</label>
							<input type="text" class="form-control custom-form-control" id="inputAddress2"
								placeholder="Apartment, studio, or floor">
						</div>
						<div class="col-md-6">
							<label for="inputCity" class="form-label">City</label>
							<input type="text" class="form-control custom-form-control" id="inputCity">
						</div>
						<div class="col-md-4">
							<label for="inputState" class="form-label">State</label>
							<select id="inputState" class="form-select">
								<option selected>Choose...</option>
								<option>...</option>
							</select>
						</div>
						<div class="col-md-2">
							<label for="inputZip" class="form-label">Zip</label>
							<input type="text" class="form-control custom-form-control" id="inputZip">
						</div>
						<div class="col-12">
							<div class="form-check">
								<input class="form-check-input" type="checkbox" id="gridCheck">
								<label class="form-check-label" for="gridCheck">
									Check me out
								</label>
							</div>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary">Submit</button>
							<button type="reset" class="btn btn-secondary">Reset</button>
						</div>
					</form><!-- End Multi Columns Form -->

				</div>
			</div>

		</div>

		<div class="col-lg-6">

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Vertical Form</h5>

					<!-- Vertical Form -->
					<form class="row g-3">
						<div class="col-12">
							<label for="inputNanme4" class="form-label">Your Name</label>
							<input type="text" class="form-control custom-form-control" id="inputNanme4">
						</div>
						<div class="col-12">
							<label for="inputEmail4" class="form-label">Email</label>
							<input type="email" class="form-control custom-form-control" id="inputEmail4">
						</div>
						<div class="col-12">
							<label for="inputPassword4" class="form-label">Password</label>
							<input type="password" class="form-control custom-form-control" id="inputPassword4">
						</div>
						<div class="col-12">
							<label for="inputAddress" class="form-label">Address</label>
							<input type="text" class="form-control custom-form-control" id="inputAddress" placeholder="1234 Main St">
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary">Submit</button>
							<button type="reset" class="btn btn-secondary">Reset</button>
						</div>
					</form><!-- Vertical Form -->

				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">No Labels / Placeholders as labels Form</h5>

					<!-- No Labels Form -->
					<form class="row g-3">
						<div class="col-md-12">
							<input type="text" class="form-control custom-form-control" placeholder="Your Name">
						</div>
						<div class="col-md-6">
							<input type="email" class="form-control custom-form-control" placeholder="Email">
						</div>
						<div class="col-md-6">
							<input type="password" class="form-control custom-form-control" placeholder="Password">
						</div>
						<div class="col-12">
							<input type="text" class="form-control custom-form-control" placeholder="Address">
						</div>
						<div class="col-md-6">
							<input type="text" class="form-control custom-form-control" placeholder="City">
						</div>
						<div class="col-md-4">
							<select id="inputState" class="form-select">
								<option selected>Choose...</option>
								<option>...</option>
							</select>
						</div>
						<div class="col-md-2">
							<input type="text" class="form-control custom-form-control" placeholder="Zip">
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary">Submit</button>
							<button type="reset" class="btn btn-secondary">Reset</button>
						</div>
					</form><!-- End No Labels Form -->

				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Floating labels Form</h5>

					<!-- Floating Labels Form -->
					<form class="row g-3">
						<div class="col-md-12">
							<div class="form-floating">
								<input type="text" class="form-control custom-form-control" id="floatingName" placeholder="Your Name">
								<label for="floatingName">Your Name</label>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-floating">
								<input type="email" class="form-control custom-form-control" id="floatingEmail"
									placeholder="Your Email">
								<label for="floatingEmail">Your Email</label>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-floating">
								<input type="password" class="form-control custom-form-control" id="floatingPassword"
									placeholder="Password">
								<label for="floatingPassword">Password</label>
							</div>
						</div>
						<div class="col-12">
							<div class="form-floating">
								<textarea class="form-control" placeholder="Address" id="floatingTextarea"
									style="height: 100px;"></textarea>
								<label for="floatingTextarea">Address</label>
							</div>
						</div>
						<div class="col-md-6">
							<div class="col-md-12">
								<div class="form-floating">
									<input type="text" class="form-control custom-form-control" id="floatingCity" placeholder="City">
									<label for="floatingCity">City</label>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-floating mb-3">
								<select class="form-select" id="floatingSelect" aria-label="State">
									<option selected>New York</option>
									<option value="1">Oregon</option>
									<option value="2">DC</option>
								</select>
								<label for="floatingSelect">State</label>
							</div>
						</div>
						<div class="col-md-2">
							<div class="form-floating">
								<input type="text" class="form-control custom-form-control" id="floatingZip" placeholder="Zip">
								<label for="floatingZip">Zip</label>
							</div>
						</div>
						<div class="text-center">
							<button type="submit" class="btn btn-primary">Submit</button>
							<button type="reset" class="btn btn-secondary">Reset</button>
						</div>
					</form><!-- End floating Labels Form -->

				</div>
			</div>

		</div>
	</div>
</section>
<section class="section">
	<div class="row">
		<div class="col-lg-6">

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Quill Editor Default</h5>

					<!-- Quill Editor Default -->
					<div class="quill-editor-default">
						<p>Hello World!</p>
						<p>This is Quill <strong>default</strong> editor</p>
					</div>
					<!-- End Quill Editor Default -->

				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Quill Editor Bubble</h5>

					<!-- Quill Editor Bubble -->
					<p>Select some text to display options in poppovers</p>
					<div class="quill-editor-bubble">
						<p>Hello World!</p>
						<p>This is Quill <strong>bubble</strong> editor</p>
					</div>
					<!-- End Quill Editor Bubble -->

				</div>
			</div>

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">Quill Editor Full</h5>

					<!-- Quill Editor Full -->
					<p>Quill editor with full toolset</p>
					<div class="quill-editor-full">
						<p>Hello World!</p>
						<p>This is Quill <strong>full</strong> editor</p>
					</div>
					<!-- End Quill Editor Full -->

				</div>
			</div>

		</div>

		<div class="col-lg-6">

			<div class="card">
				<div class="card-body">
					<h5 class="card-title">TinyMCE Editor</h5>

					<!-- TinyMCE Editor -->
					<textarea class="tinymce-editor">
                <p>Hello World!</p>
                <p>This is TinyMCE <strong>full</strong> editor</p>
              </textarea><!-- End TinyMCE Editor -->

				</div>
			</div>

		</div>
	</div>
</section>
<section class="section">
	<div class="col-lg-6">
		<div class="card mb-3">
			<div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
				<h6 class="m-0 font-weight-bold text-primary">Sizing</h6>
			</div>
			<div class="card-body">
				<p>Set heights using classes like <code class="highlighter-rouge">.form-control-lg</code> and <code
						class="highlighter-rouge">.form-control-sm</code>.</p>
				<p>Example for form general</p>
				<input class="form-control form-control-lg mb-3" type="text" placeholder=".form-control-lg">
				<input class="form-control  mb-3" type="text" placeholder="Default input">
				<input class="form-control form-control-sm  mb-3" type="text" placeholder=".form-control-sm">
				<p>Example for Select</p>
				<select class="form-control form-control-lg  mb-3">
					<option>Large select</option>
				</select>
				<select class="form-control mb-3">
					<option>Default select</option>
				</select>
				<select class="form-control form-control-sm mb-3">
					<option>Small select</option>
				</select>
			</div>
		</div>
	</div>
</section>