<main>
	<div class="container">

		<section class="section error-404 min-vh-100 d-flex flex-column align-items-center justify-content-center">
			<h1>404</h1>
			<h2>La página que buscas no existe.</h2>

			<div class="wrapp-btn btn-center p-3">
				<a class="btn btn-getstarted umayor-primary" href="index.html">Volver al inicio</a>
			</div>
			<div class="credits">
				© Copyright {{year}} <strong><span>Universidad Mayor</span></strong>. All Rights Reserved
			</div>
		</section>

	</div>
</main><!-- End #main -->