/* import googlefont*/
/* @import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700|Open+Sans:300,400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Oswald:300,400,700&subset=latin-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:300,400,700|Roboto:300,400,500,700&subset=latin-ext'); 
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700');*/

/*------------------------------------------
font-family: 'Open Sans', sans-serif;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
--------------------------------------------*/
/* 
* Font MyriadPro 
*----------------------------------------------------------------*/
/*@font-face {
	font-family: 'Myriad Pro';
	src: url('../css/face_font/subset-MyriadPro-Bold.eot');
	src: url('../css/face_font/subset-MyriadPro-Bold.eot?#iefix') format('embedded-opentype'),
		url('../css/face_font/subset-MyriadPro-Bold.woff') format('woff'),
		url('../css/face_font/subset-MyriadPro-Bold.ttf') format('truetype');
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../css/face_font/subset-MyriadPro-Light.eot');
	src: url('../css/face_font/subset-MyriadPro-Light.eot?#iefix') format('embedded-opentype'),
		url('../css/face_font/subset-MyriadPro-Light.woff') format('woff'),
		url('../css/face_font/subset-MyriadPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'Myriad Pro';
	src: url('../css/face_font/subset-MyriadPro-Regular.eot');
	src: url('../css/face_font/subset-MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('../css/face_font/subset-MyriadPro-Regular.woff') format('woff'),
		url('../css/face_font/subset-MyriadPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}*/


 