@mixin icon($fsize:1rem, $fcolor:#000, $lheight:normal) {
  display: inline-block;
  vertical-align: middle;
  line-height: $lheight;
  font-size: $fsize;
  margin: 0;
  padding: 0;
  color: $fcolor;
}

/*
 * @helpers icons
 **/

.foo-xs {
  @include icon(.75em, #000);
  line-height: 0.75em;
  vertical-align: -15%;
}

.foo-sm {
  @include icon(.875em, #000);
  vertical-align: middle;
}

.foo-lg {
  @include icon(1.33em, #000);
  vertical-align: middle;
}

.foo-2x {
  @include icon(23em, #000);
  vertical-align: middle;
}

.foo-3x {
  @include icon(3em, #000);
  vertical-align: middle;
}

.foo-4x {
  @include icon(4em, #000);
  vertical-align: middle;
}

.foo-5x {
  @include icon(5em, #000);
  vertical-align: middle;
}

.foo-6x {
  @include icon(6em, #000);
  vertical-align: middle;
}

.foo-7x {
  @include icon(7em, #000);
  vertical-align: middle;
}

.foo-8x {
  @include icon(8em, #000);
  vertical-align: middle;
}

.foo-9x {
  @include icon(9em, #000);
  vertical-align: middle;
}

.foo-10x {
  @include icon(10em, #000);
  vertical-align: middle;
}

.foo-4x {
  @include icon(0.75em, #000);
  vertical-align: middle;

}

/*
 * @custom icons
 * Set de iconos que son personalizados desde flaticon o diseños custom
 **/
/* @font-face {
  font-family: 'umayor';
  src: url('../../css/fonts/umayor.eot?iemftz');
  src: url('../../css/fonts/umayor.eot?iemftz#iefix') format('embedded-opentype'),
    url('../../css/fonts/umayor.ttf?iemftz') format('truetype'),
    url('../../css/fonts/umayor.woff?iemftz') format('woff'),
    url('../../css/fonts/umayor.svg?iemftz#umayor') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
} */

@font-face {
  font-family: 'umayor';
  src: url('../../fonts/umayor.eot');
  src: url('../../fonts/umayor.eot') format('embedded-opentype'),
    url('../../fonts/umayor.ttf') format('truetype'),
    url('../../fonts/umayor.woff') format('woff'),
    url('../../fonts/umayor.svg') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'umayor' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-floppy-disk-3:before {
  content: "\e96b";
}

.icon-floppy-disk-2:before {
  content: "\e96c";
}

.icon-download:before {
  content: "\e96d";
}

.icon-editing:before {
  content: "\e96e";
}

.icon-magnifying-glass:before {
  content: "\e96f";
}

.icon-loupe:before {
  content: "\e970";
}

.icon-block-light:before {
  content: "\e971";
}

.icon-block:before {
  content: "\e972";
}

.icon-select-check:before {
  content: "\e963";
}

.icon-checkmark-border:before {
  content: "\e964";
}

.icon-check-border:before {
  content: "\e965";
}

.icon-check-black:before {
  content: "\e966";
}

.icon-cancel-border:before {
  content: "\e967";
}

.icon-cancel-black:before {
  content: "\e968";
}

.icon-danger-black:before {
  content: "\e969";
}

.icon-danger-border:before {
  content: "\e96a";
}

.icon-user-group:before {
  content: "\e95b";
}

.icon-edit-black:before {
  content: "\e95c";
}

.icon-pencil:before {
  content: "\e95d";
}

.icon-edit:before {
  content: "\e95e";
}

.icon-delete-black:before {
  content: "\e95f";
}

.icon-delete:before {
  content: "\e960";
}

.icon-customer:before {
  content: "\e961";
}

.icon-customer-black:before {
  content: "\e962";
}

.icon-enviar-black:before {
  content: "\e959";
}

.icon-enviar:before {
  content: "\e95a";
}

.icon-document-black:before {
  content: "\e955";
}

.icon-document-border:before {
  content: "\e956";
}

.icon-file-black:before {
  content: "\e957";
}

.icon-file-border:before {
  content: "\e958";
}

.icon-text-document-border:before {
  content: "\e94e";
}

.icon-floppy-disk:before {
  content: "\e94f";
}

.icon-floppy-disk-black:before {
  content: "\e950";
}

.icon-hand-shake-black:before {
  content: "\e951";
}

.icon-tap2:before {
  content: "\e952";
}

.icon-forward-black:before {
  content: "\e953";
}

.icon-forward:before {
  content: "\e954";
}

.icon-like:before {
  content: "\e94b";
}

.icon-tick-mark:before {
  content: "\e94c";
}

.icon-star-1:before {
  content: "\e94d";
}

.icon-list-interface-symbol:before {
  content: "\e945";
}

.icon-checkmark:before {
  content: "\e946";
}

.icon-hand-shake:before {
  content: "\e947";
}

.icon-bullet-form:before {
  content: "\e948";
}

.icon-star:before {
  content: "\e949";
}

.icon-lamp:before {
  content: "\e94a";
}

.icon-attach-file:before {
  content: "\e940";
}

.icon-dowload-file:before {
  content: "\e941";
}

.icon-upload-file:before {
  content: "\e942";
}

.icon-cloud-computing:before {
  content: "\e943";
}

.icon-upload:before {
  content: "\e944";
}

.icon-menu-1:before {
  content: "\e93d";
}

.icon-menu-button:before {
  content: "\e93e";
}

.icon-menu-2:before {
  content: "\e93f";
}

.icon-cursor:before {
  content: "\e93a";
}

.icon-tap:before {
  content: "\e93b";
}

.icon-exit-top-right:before {
  content: "\e93c";
}

.icon-right-arrow-2:before {
  content: "\e924";
}

.icon-left-arrow-3:before {
  content: "\e925";
}

.icon-right-arrow-1:before {
  content: "\e926";
}

.icon-left-arrow-2:before {
  content: "\e927";
}

.icon-inspiration:before {
  content: "\e928";
}

.icon-idea:before {
  content: "\e929";
}

.icon-microscopio:before {
  content: "\e92a";
}

.icon-red:before {
  content: "\e92b";
}

.icon-matraz:before {
  content: "\e92c";
}

.icon-adn:before {
  content: "\e92d";
}

.icon-microscope-2:before {
  content: "\e92e";
}

.icon-microscope-1:before {
  content: "\e92f";
}

.icon-microscope:before {
  content: "\e930";
}

.icon-atom:before {
  content: "\e931";
}

.icon-museum:before {
  content: "\e932";
}

.icon-art:before {
  content: "\e933";
}

.icon-jigsaw:before {
  content: "\e934";
}

.icon-document-1:before {
  content: "\e935";
}

.icon-lightbulb:before {
  content: "\e936";
}

.icon-project:before {
  content: "\e937";
}

.icon-start-up-1:before {
  content: "\e938";
}

.icon-start-up:before {
  content: "\e939";
}

.icon-down-arrow:before {
  content: "\e920";
}

.icon-up-arrow:before {
  content: "\e921";
}

.icon-up-chevron:before {
  content: "\e922";
}

.icon-down-chevron:before {
  content: "\e923";
}

.icon-arrow-left-300 .path1:before {
  content: "\e91d";
  color: rgb(244, 67, 54);
}

.icon-arrow-left-300 .path2:before {
  content: "\e91e";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}

.icon-left-arrow:before {
  content: "\e91f";
}

.icon-arrow-right:before {
  content: "\e919";
}

.icon-arrow-left:before {
  content: "\e91a";
}

.icon-arrow-right-300:before {
  content: "\e91b";
}

.icon-arrow-right-400:before {
  content: "\e91c";
}

.icon-file:before {
  content: "\e912";
}

.icon-informacion:before {
  content: "\e913";
}

.icon-team:before {
  content: "\e914";
}

.icon-text-document:before {
  content: "\e915";
}

.icon-user-circle:before {
  content: "\e916";
}

.icon-user:before {
  content: "\e917";
}

.icon-users:before {
  content: "\e918";
}

.icon-building:before {
  content: "\e900";
}

.icon-calendar:before {
  content: "\e901";
}

.icon-cohete:before {
  content: "\e902";
}

.icon-comentarios:before {
  content: "\e903";
}

.icon-compass:before {
  content: "\e904";
}

.icon-conexion:before {
  content: "\e905";
}

.icon-dinero:before {
  content: "\e906";
}

.icon-document:before {
  content: "\e907";
}

.icon-engranaje:before {
  content: "\e908";
}

.icon-grafico:before {
  content: "\e909";
}

.icon-info:before {
  content: "\e90a";
}

.icon-men:before {
  content: "\e90b";
}

.icon-menu:before {
  content: "\e90c";
}

.icon-menu-circulo:before {
  content: "\e90d";
}

.icon-nube:before {
  content: "\e90e";
}

.icon-salir:before {
  content: "\e90f";
}

.icon-tablet:before {
  content: "\e910";
}

.icon-universidad:before {
  content: "\e911";
}