/* @media [not | only] screen [and] (expression) {...} */

/* Custom, iPhone Retina */ 
@media only screen and (min-width: 300px) and (max-width: 320px) { 
	.prueba {background-color: indigo;}
}
/*Hasta smartphones de 480px*/
@media only screen and (min-width: 321px) and (max-width: 480px) { 
	.prueba {background-color: magenta;}
}

/* de Smartphones a Tablets */
@media only screen and (min-width: 481px) and (max-width: 768px) {
	.prueba {background-color: cyan;}
 }

/* de Tablets a pantallas de desktops */
@media only screen and (min-width: 769px) and (max-width: 980px) { 
	.prueba {background-color: tomato;}
}

/* Pantallas anchas (desktops) */
@media only screen and (min-width: 1200px) and (max-width: 1339px) { 
	.prueba {background-color: teal;}
}

@media only screen and ( min-width: 1400px) { 
	.prueba {background-color: deeppink;}
}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  

	
  }
  
  /* 
	##Device = Laptops, Desktops
	##Screen = B/w 1025px to 1280px
  */
  
  @media (min-width: 1025px) and (max-width: 1280px) {

	
  }
  
  /* 
	##Device = Tablets, Ipads (portrait)
	##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) {

	
  }
  
  /* 
	##Device = Tablets, Ipads (landscape)
	##Screen = B/w 768px to 1024px
  */
  
  @media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {

	
  }
  
  /* 
	##Device = Low Resolution Tablets, Mobiles (Landscape)
	##Screen = B/w 481px to 767px
  */
  
  @media (min-width: 481px) and (max-width: 767px) {
	
	
  }
  
  /* 
	##Device = Most of the Smartphones Mobiles (Portrait)
	##Screen = B/w 320px to 479px
  */
  
  @media (min-width: 320px) and (max-width: 480px) {
	
  }