/*.grid {
  padding: 0;
  width: 100%;
  margin: 0 auto;
  list-style: none;
  text-align: center;
  background-color: yellow;
  border: 1px dashed #000;

  @media screen and (max-width: 31.5em) {
  }

  li {
    display: inline-block;
    width: 100%;
    margin: 0;
    padding: 0;
    text-align: left;
    position: relative;
    border: 1px dashed #000;
    background: lime;

    @media screen and (max-width: 31.5em) {
      width: 100%;
      min-width: 300px;
    }
  }

  figure {
    margin: 0;
    position: relative;

    img {
      max-width: 100%;
      display: block;
      position: relative;
    }
  }

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    background: #2c3f52;
    color: #ed4e6e;

    h3 {
      margin: 0;
      padding: 0;
      color: #fff;
    }

    span:before {
      content: 'by ';
    }

    a {
      text-align: center;
      padding: 5px 10px;
      border-radius: 2px;
      display: inline-block;
      background: #ed4e6e;
      color: #fff;
    }
  }

  &.cs-style-3 {
    overflow: hidden;

    figure {
      img {
        transition: transform .4s;
      }
    }

    figcaption {
      a {
        position: absolute;
        bottom: 20px;
        right: 20px;
      }
    }
  }

  .no-touch {
    .cs-style-3 {
      figure {
        &:hover {
          img {
            transform: translateY(-50px);
          }
        }
      }
    }
  }
}*/


.item-overlay {
  position: relative;
  width: 100%;
  border: 1px dashed #000;
  height: auto;
}

.image {
  display: block;
  width: 100%;
  height: auto;
  background-color: red;
  border: 1px dashed lime;
}

.overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #facd06;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .2s ease;
}

.container:hover .overlay {
  height: 100%;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
