<section class="section dashboard">


	<div class="row">
		<div class="col-12">
			<div class="card">
				<div class="card-header">
					<div class="header-dashboard-title text-center">
						<h2 class="title">Hola!, <strong>{{ profile.givenName }}</strong>, bienvenid@!</h2>
						<h3 class="subtitle">¿Qué quieres hacer ahora?</h3>
					</div>
				</div>
				<div class="card-body">
					<div class="bd-callout bd-callout-code">
						<h4>Información Profile:</h4>
						<pre>{{ profile | json }}</pre>
					</div>
			<!-- 		<div>
						<p><strong>First Name: </strong> {{profile?.givenName}}</p>
						<p><strong>Last Name: </strong> {{profile?.surname}}</p>
						<p><strong>Email: </strong> {{profile?.userPrincipalName}}</p>
						<p><strong>Id: </strong> {{profile?.id}}</p>
					</div> -->
					<!-- {{ profile | json }} -->
				</div>
			</div>
		</div>
	</div>
</section>