<!-- ======= Sidebar ======= -->
<aside id="sidebar" class="sidebar">

	<ul class="sidebar-nav" id="sidebar-nav">

		<li class="nav-heading">Core</li>

		<li class="nav-item">
			<a class="nav-link " href="index.html">
				<i class="bi bi-grid"></i>
				<span>Dashboard</span>
			</a>
		</li><!-- End Dashboard Nav -->

		<li class="nav-item">
			<a class="nav-link collapsed" data-bs-target="#components-nav" data-bs-toggle="collapse" href="#">
				<i class="bi bi-menu-button-wide"></i><span>Components</span><i class="bi bi-chevron-down ms-auto"></i>
			</a>
			<ul id="components-nav" class="nav-content collapse " data-bs-parent="#sidebar-nav">
				<li>
					<a routerLink="/dashboard/components/calendario">
						<i class="bi bi-circle"></i><span>Calendario</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard/components/chart">
						<i class="bi bi-circle"></i><span>Graficos</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard/components/chats">
						<i class="bi bi-circle"></i><span>Chats</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard/components/contact-list">
						<i class="bi bi-circle"></i><span>Lista de conctactos</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard/components/data-table">
						<i class="bi bi-circle"></i><span>Data Table</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard/components/forms">
						<i class="bi bi-circle"></i><span>Elementos formulario</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard/components/form-select2">
						<i class="bi bi-circle"></i><span>Elementos Select2</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard/components/list-jobs">
						<i class="bi bi-circle"></i><span>Lista Jobs</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard/components/profile">
						<i class="bi bi-circle"></i><span>Profile</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard/components/profile-setting">
						<i class="bi bi-circle"></i><span>Profile setting</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard/components/search-list">
						<i class="bi bi-circle"></i><span>Lista busqueda</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard/components/table">
						<i class="bi bi-circle"></i><span>Tablas</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard/components/buttons">
						<i class="bi bi-circle"></i><span>Buttons</span>
					</a>
				</li>
				<li>
					<a routerLink="/dashboard/components/buscador-preferencias">
						<i class="bi bi-circle"></i><span>Search de preferencias</span>
					</a>
				</li>
				<!-- <li>
					<a href="components-progress.html">
						<i class="bi bi-circle"></i><span>Progress</span>
					</a>
				</li>
				<li>
					<a href="components-spinners.html">
						<i class="bi bi-circle"></i><span>Spinners</span>
					</a>
				</li>
				<li>
					<a href="components-tooltips.html">
						<i class="bi bi-circle"></i><span>Tooltips</span>
					</a>
				</li> -->
			</ul>
		</li><!-- End Components Nav -->


		<li class="nav-heading">Iterface Director</li>

		<li class="nav-item">
			<a routerLink="/dashboard/my-profile" class="nav-link">
				<i class="bi bi-person"></i>
				<span>Perfil Académico</span>
			</a>
		</li><!-- End Profile Page Nav -->
		<li class="nav-item">
			<a routerLink="/dashboard/buscador" class="nav-link">
				<i class="bi bi-search"></i><span>Buscador académico</span>
			</a>
		</li>
		<li class="nav-item">
			<a routerLink="/dashboard/chat-cademico" class="nav-link">
				<i class="bi bi-chat-dots"></i><span>Mensajes</span>
			</a>
		</li>
		<li class="nav-item">
			<a routerLink="/dashboard/calendar" class="nav-link">
				<i class="bi bi-calendar-event"></i><span>Demo Calendario</span>
			</a>
		</li>
		<li class="nav-item">
			<a routerLink="/dashboard/reporte" class="nav-link">
				<i class="bi bi-table"></i><span>Reporte académico</span>
			</a>
		</li>



		<li class="nav-heading">Iterface Académico</li>

		<li class="nav-item">
			<a routerLink="/dashboard/profile" class="nav-link">
				<i class="bi bi-chat-dots"></i><span>Mi perfil</span>
			</a>
		</li>
		<li class="nav-item">
			<a routerLink="/dashboard/oportunidades" class="nav-link">
				<i class="bi bi-search"></i><span>Buscador de Asignaturas</span>
			</a>
		</li>
		<li class="nav-item">
			<a routerLink="/dashboard/chat-cademico" class="nav-link">
				<i class="bi bi-chat-dots"></i><span>Mensajes</span>
			</a>
		</li>

		<li class="nav-item">
			<a class="nav-link collapsed" href="pages-blank.html">
				<i class="bi bi-file-earmark"></i>
				<span>Blank</span>
			</a>
		</li><!-- End Blank Page Nav -->
	</ul>

</aside><!-- End Sidebar-->