<section class="section">
	<div class="row">
		<div class="col-12 mt-5 p-5">
			<div class="card">
				<div class="card-header">
					<h4 class="card-title">Información del Académico | {{ nameVersion }}</h4>
					<h6 class="card-subtitle">Desde esta sección podrás acceder a la información del académico y podrás comunicarte con ellos de manera directa y gestionar las postulaciones, full documentación desde: <a href="https://datatables.net/">Datatables</a>
					</h6>
				</div>
				<div class="card-body">
					<div class="alert alert-primary" role="alert">
						<pre>{{ fullDataAcademic | json }}</pre>
					</div>
				</div>
			</div>			
		</div>
	</div>
</section>